.input-colorpicker .add-on i {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
}